@media (min-width: 992px) and (max-width: 1199px) {
  .header-middle .btn-group .btn {
    padding-left: 8px;
    padding-right: 8px;
  }
  .usa {
    margin-right: 0;
  }
  .shipping img {
    width: 100%;
  }
  .searchform input {
    width: 160px;
  }
  .product-information span span {
    width: 100%;
  }
  #similar-product .carousel-inner .item img {
    width: 65px;
  }
  #table_items .cart_info .cart_description h4,
  #table_items .cart_info .cart_description p {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .shop-menu {
    display: block;
    width: 100%;
    text-align: center;
  }
  .shop-menu ul {
    display: inline-block;
    float: none;
  }
  .shop-menu ul li a {
    padding-left: 0;
  }
  #slider-carousel .item {
    padding-left: 30px;
  }
  .item h2 {
    font-size: 24px;
  }

  .slider.slider-horizontal {
    width: 100% !important;
  }
  .tab-pane .col-sm-3,
  .features_items .col-sm-4 {
    width: 50%;
  }
  .footer-widget .col-sm-2 {
    width: 33%;
    display: inline-block;
    margin-bottom: 50px;
  }
  .footer-widget .col-sm-3 {
    display: inline-block;
    width: 40%;
  }
  #similar-product .carousel-inner .item img {
    width: 60px;
    margin-left: 0;
  }
  .product-information span span {
    display: block;
    width: 100%;
  }
  .product-information .cart {
    margin-left: 0;
    margin-top: 15px;
  }
  .item-control i {
    font-size: 12px;
    padding: 5px 6px;
  }
  #table_items .cart_info .cart_description h4,
  #table_items .cart_info .cart_description p {
    text-align: center;
  }
  .address {
    margin-top: 48px;
    margin-left: 20px;
  }
  .address p {
    font-size: 12px;
    top: 5px;
  }
}
@media (max-width: 767px) {
  #table_items .cart_info table {
    min-width: 600px;
  }
  #table_items .cart_info .cart_description h4 a {
    font-style: 15px;
  }
  #table_items .cart_info .cart_description p {
    font-size: 12px;
  }
  .mainmenu ul li:first-child {
    padding-left: 15px;
  }
  #form {
    margin-top: 10px;
  }
  .shop-menu {
    display: block;
    width: 100%;
    text-align: center;
  }
  .shop-menu ul {
    display: inline-block;
    float: none;
  }
  .header_top .col-sm-6:first-child {
    display: inline-block;
    float: left;
  }
  .header_top .col-sm-6:last-child {
    display: inline-block;
    float: right;
  }
  .header-middle .col-sm-4 {
    display: inline-block;
    overflow: inherit;
    width: 100%;
  }
  .social-icons ul li a i {
    padding: 8px 10px;
  }
  .shop-menu.pull-right {
    float: none !important;
  }
  .shop-menu .nav.navbar-nav {
    margin-left: -30px;
  }
  .header-bottom .col-sm-9 {
    display: inline-block;
    width: 100%;
  }
  .mainmenu {
    width: 100%;
  }
  .mainmenu ul li {
    background: rgba(0, 0, 0, 0.5);
    padding-top: 15px;
    padding-bottom: 0;
  }
  .mainmenu ul li:last-child {
    padding-bottom: 15px;
  }
  .mainmenu ul li a {
    color: #fff;
  }
  .navbar-collapse.in {
    overflow: inherit;
  }
  .mainmenu ul li a.active {
    padding-left: 15px;
  }
  .dropdown .fa-angle-down {
    display: none;
  }
  ul.sub-menu {
    position: relative;
    width: auto;
    display: block;
    background: 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    top: 0;
  }
  .sub-menu li {
    background: 0 0;
  }
  .mainmenu .navbar-nav li ul.sub-menu li {
    background: 0 0;
    padding-bottom: 0;
  }
  .nav.navbar-nav > li:hover > ul.sub-menu {
    -webkit-animation: none;
    animation: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .header-bottom {
    position: relative;
  }
  .header-bottom .col-sm-3 {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 38px;
  }
  #slider-carousel .item {
    padding-left: 0;
  }

  .footer-top .col-sm-7 .col-sm-3 {
    width: 50%;
    float: left;
  }
  .footer-widget .col-sm-2 {
    width: 28%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
    margin-top: 0;
    float: left;
    margin-left: 30px;
  }
  .footer-widget .col-sm-3 {
    display: inline-block;
  }
  .single-widget {
  }
  .product-information span {
    display: block;
  }
  #similar-product {
    margin-bottom: 40px;
  }

}
@media (max-width: 480px) {
  .bill-to {
    margin-top: 10px;
  }
  .header-middle .dropdown-menu {
    text-align: left;
  }
  .header-middle .dropdown-menu {
    min-width: 0;
  }
  .header-middle .logo + div {
    text-align: center;
    display: block;
  }
  .header-middle .btn-group > .btn-group {
    float: none;
  }
  .contactinfo {
    text-align: center;
  }
  .contactinfo ul li a {
    padding-right: 15px;
    padding-left: 0;
  }
  .btn-group.pull-right,
  .footer-bottom .pull-left,
  .footer-bottom .pull-right,
  .mainmenu.pull-left,
  .media.commnets .pull-left,
  .media-list .pull-left {
    float: none !important;
  }
  .header_top .col-sm-6:first-child {
    display: block;
    float: none;
  }
  .header_top .col-sm-6:last-child {
    display: block;
    float: none;
  }
  .contactinfo .nav.nav-pills,
  .social-icons .nav.navbar-nav {
    display: inline-block;
  }
  .logo {
    text-align: center;
    width: 100%;
  }
  .shop-menu ul li {
    padding: 0 5px;
  }
  .header-middle .col-sm-4 {
    text-align: center;
    overflow: inherit;
  }
  .shop-menu .nav.navbar-nav {
    margin-left: 0;
  }
  .btn-group > .btn-group:last-child > .btn:first-child {
    margin-right: 0;
  }
  .header-bottom .col-sm-9 {
    display: inline-block;
    width: 100%;
  }
  .mainmenu {
    width: 100%;
  }
  .mainmenu ul li {
    background: rgba(0, 0, 0, 0.5);
    padding-top: 15px;
    padding-bottom: 0;
  }
  .mainmenu ul li:last-child {
    padding-bottom: 15px;
  }
  .mainmenu ul li a {
    color: #fff;
    padding-bottom: 0;
  }
  .navbar-collapse.in {
    overflow: inherit;
  }
  .mainmenu ul li a.active {
    padding-left: 15px;
  }
  .dropdown .fa-angle-down {
    display: none;
  }
  ul.sub-menu {
    position: relative;
    width: auto;
    display: block;
    background: 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    top: 0;
  }
  .mainmenu .navbar-nav li ul.sub-menu li {
    background: 0 0;
    padding-bottom: 0;
  }
  .nav.navbar-nav > li:hover > ul.sub-menu {
    -webkit-animation: none;
    animation: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .item {
    padding-left: 0;
  }
  .item h1 {
    font-size: 30px;
    margin-top: 0;
  }
  .item h2 {
    font-size: 20px;
  }
  .category-tab ul li a {
    font-size: 12px;
  }
  .footer-bottom p {
    font-size: 13px;
    text-align: center;
  }
  .footer-widget .col-sm-2 {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
    margin-top: 0;
    float: left;
    padding-right: 0;
    padding-left: 30px;
    margin-left: 0;
  }
  .single-widget {
    padding-left: 0;
  }
  .features_items {
    margin-top: 30px;
  }
  .category-tab .nav-tabs li {
    float: none;
  }
  #similar-product .carousel-inner .item img {
    margin-left: 4px;
    width: 57px;
    height: 79px;
  }
  .product-information {
    margin-top: 40px;
    max-width: 360px;
  }
  .recommended_items{
    max-width: 300px;
    margin: 0 auto;
  }
  .breadcrumb li{
    margin-bottom: 10px;
  }
  .product-images{
    height: 500px;
    width: 325px;
  }
  .view-product img{
    height: 400px;
  }

  #reviews p{
    text-align: justify;
  }
  #reviews form span input {
    width: 100%;
    margin-bottom: 20px;
  }
  #reviews form span input:last-child {
    margin-left: 0;
  }
  .content-404 h1 {
    font-size: 30px;
  }
  .content-404 h2 a {
    font-size: 20px;
  }
  .product-information {
    text-align: center;
  }
  .product-information span span {
    float: none;
  }
}
@media screen and (min-width: 290px) and  (max-width: 600px){
  #personal_area .add-block label{
    font-size: 16px;
  }
  #personal_area .add-block input{
    width: 150px;
    font-size: 16px;
  }
  .form-add label:not(.many-input-label){
    font-size: 16px;
  }
  .form-add input:not(.many-input, .input-count){
    width: 150px;
    font-size: 16px;
  }
  .form-add .select-option{
    width: 150px;
  }
  #slider{
    width: 100%;
  }
  .slider-text h4{
    font-size: 45px;
  }
  .slider-text p{
    font-size: 17px;
  }
  .slider-text{
    margin-right: 20px;
  }
  .mini-banner-img{
    top: 10%;
    left: 20%;
  }
  .admin-index-title{
    font-size: 45px;
  }
}

@media screen and (max-width: 850px) {
  .slider-text h3 {
    font-size: 52px;
  }
  .slider-text{
    max-width: 320px;
  }

  h2, .h2{
    font-size: 18px;
  }
  .filter-title{
    margin-bottom: 20px;
  }

  .fil-params{
    max-height: 100px;
    width: 200px;
  }
  .filter-item{
    margin-left: 40px;
  }
  .filters{
    margin: 0;
    max-height: 40px;
    margin-bottom: 10px;
  }
  .select-order-by, .btn-danger-filters{
    margin-left:50px;
  }
  .product-information{
    padding: 30px;
  }
  #personal_area .add-block label{
    font-size: 16px;
  }
  .form-add label:not(.many-input-label){
    font-size: 16px;
  }
  .form-add .select-option{
    width: 250px;
  }
  #slider{
    width: 100%;
  }
  .slider-text h4{
    font-size: 55px;
  }
  .mini-banner-img{
    top: 10%;
    left: 20%;
  }
  .left-sidebar{
    padding: 0;
    margin: 0 auto;
  }
  .filter-item{
    margin: 0 auto;
  }
  .products{
    margin: 0 auto;
    max-width: 300px;
  }
  .checkout-area{
    display: inline-block;
  }
  .checkout-area .order-message{
    margin: 20px 0;
  }

}
@media screen and (max-width: 1100px){
  .view-product img {
    height: 400px;
  }
  .view-product{
    max-width: 295px;
  }
  .product-images {
    height: 500px;
    width: 325px;
  }
  #similar-product .carousel-inner .item img {
    margin-left: 4px;
    width: 57px;
    height: 79px;
  }
}
@media screen and (min-width: 851px) and  (max-width: 1000px){
  .slider-text h3 {
    font-size: 52px;
  }
  .slider-text{
    max-width: 320px;
  }

  h2, .h2{
    font-size: 18px;
  }
  .filter-title{
    margin-bottom: 20px;
  }

  .fil-params{
    max-height: 100px;
    width: 200px;
  }
  .products,.left-sidebar{
    padding-left: 40px;
  }
  .btn-info-filters{
    margin: 20px 0 20px 0;
  }
  #personal_area .add-block label{
    font-size: 16px;
  }
  #personal_area .add-block input{
    width: 250px;
    font-size: 16px;
  }
  .form-add label:not(.many-input-label){
    font-size: 16px;
  }
  .form-add input:not(.many-input, .input-count){
    width: 250px;
    font-size: 16px;
  }
  .form-add .select-option{
    width: 250px;
  }
  #slider{
    width: 100%;
  }
  .slider-text h4{
    font-size: 55px;
  }
  .mini-banner-img{
    top: 10%;
    left: 20%;
  }
  .products{
    margin: 0 auto;
    max-width: 300px;
  }
  .checkout-area{
    display: inline-block;
  }
  .checkout-area .order-message{
    margin: 20px 0;
  }

}

@media screen and (min-width: 1000px) and  (max-width: 1200px) {
  .filter-title{
    margin-bottom: 20px;
  }
  .fil-params{
    max-height: 120px;
    width: 200px;
  }
  .left-sidebar{
    width: 230px;
  }
  #personal_area .add-block label{
    font-size: 16px;
  }
  #personal_area .add-block input{
    width: 400px;
    font-size: 16px;
  }
  .form-add label:not(.many-input-label){
    font-size: 16px;
  }
  .form-add input:not(.many-input, .input-count){
    width: 400px;
    font-size: 16px;
  }
  .form-add .select-option{
    width: 400px;
  }
  #slider{
    width: 100%;
  }
  .mini-banner-img{
    top: 10%;
    left: 20%;
  }
}

@media screen and (max-width: 1200px){
  .product-details{
    height: fit-content;
    display: inline-block;

  }
  .cart{
    margin-top: 20px;
  }
  .product-information{
    width: 500px;
  }
  .left-sidebar{
    width: 230px;
  }
  .title-page-personal{
    margin-top: 40px;
  }
}

@media screen and (min-width: 1200px) and  (max-width: 1700px){
  #slider{
    width: 100%;
  }
  .mini-banner-img{
    right: 3%;
  }
}
